* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;



}



.navbar {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 100px;
}



.menu_list {
    display: flex;
    gap: 30px;
}


.list_item>a {
    color: white;
    font-family: Inter;
    font-weight: 500;
    font-style: Medium;
    font-size: 18px;


}

main{
    padding: 0 100px    ;
}

.list_item>a:focus {
    color: orange;
}



.website_title>h1 {

    font-family: Inter;
    font-weight: 500;
    font-style: Medium;
    font-size: 88px;
    width: 743px;
    text-align: center;
    margin-top: 114px;

}


.website_title{
    display: flex;
    justify-content:center;

}


.card{
    width: 393px;


    display: flex;
    flex-direction: column;
    align-items:center ;
}


.container_card{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 60px;
    margin-top: 114px;
}
.menu_title {
    display: flex;
    gap: 30px;
}

.list_title>a {
    color: white;
    font-family: Inter;
    font-weight: 500;
    font-style: Medium;
    font-size: 18px;


}
.list_title>a:focus {
    color: orange;
}
.Box_1{
  margin-top: 102px;
}